/* Global Variables */

@font-face {
    font-family: 'Road Rage';
    src: url('../assets/typography/Road_Rage.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans JP';
    src: url('../assets/typography/NotoSansJP-Bold.woff2');
    font-weight: 700;
    font-style: normal;
}

:root {
    --for-color: #fff;
    --bkg-color: #101324;
    --acc-orange: #FF8A59;
    --acc-pink: #ED417B;
    --acc-blue: #252851;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    color: var(--for-color);
    background-color: var(--bkg-color);
}

h1 {
    font-family: "Road Rage", sans-serif;
}

.choice-item {
}

.enter-error-msg {
    opacity: 0;
}

.enter-error-msg-active {
    opacity: 1;
}

.hide-view-wrapper {
    display: none;
}